# Byte-compiled / optimized / DLL files
#######################################
__pycache__/
*.py[cod]
*$py.class

# BED files
###########
*.bed

# XML files
###########
*.xml

# FASTA files
#############
*.fasta[*]
*.fq[*]

